/* 
    Document   : common
    Created on : Sep 4, 2013, 12:22:04 AM
    Author     : debasish
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.fatal{
    color: red;
    font-size: 110%;
    font-weight: 200;
}

.error{
    color: red
}

.warning{
    color: gold
}

.info{
    color: green
}


body{
    font-family: sans-serif;
    font-size: large;
    color: #000;
    background-color: #fff; 
    /*background-image: 
        linear-gradient(90deg, black 0%, black 10%);
    /*radial-gradient(50px 50px, circle closest-side, black, white);*/


}

input[type='text']{
    border-radius: 5px;
}

a{
    color: #000000;
   
}

a:hover{
    color: blue;
    
}
/* Apply padding to td elements that are direct children of the tr element. */
tr.row > td
{
    padding-bottom: 2em;
}

input, select, option{
    font-size: 20px;
}

.description{
    color: cadetblue;
    margin-bottom: 20px;

}

#header {
   /* position: fixed;*/
    top: 0px;
    left:0px;
    width: 100%;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
   
}

#content{
    padding: 5px;
}

progress{
    width: 50px;
    cursor: progress;
}

button, input[type="submit"]{
    font-family: helvetica, arial, sans-serif;
    font-size:20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height:20px;
    height:50px;
    color:#fff;
    cursor:pointer;
    display: inline-block;
    width:auto;
    text-decoration:none !important;

    position: static;
    /* these rules for the button press effect */
    padding-top:5px;
    padding-bottom:10px;

    margin-top: 20px;
    margin-bottom:20px;

    padding-left:20px;
    padding-right:20px;

    margin-left:-1px;
    margin-right:1px;

    /* default background-color */

    background-color: #010732;

    /* the mighty gradient */

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.6)), color-stop(0.49, rgba(255, 255, 255, 0.3)), color-stop(0.51, rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.2))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* FF3.6+ */
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* Opera11.10+ */
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* W3C */


    /* some nice roundy corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    /* for links in chrome */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; 
    box-sizing: border-box; 


    /* a very subtle drop-shadow that ehances the pressed button effect */
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 0.30);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.30); 

    /* remove any inherited or default borders - especially important for the <button> element*/
    border: 0 !important;

    /* a subtle text inset effect which will also help to enhance the pressed button effect */
    text-shadow:  rgba(255, 255, 255, 0.1) -1px 0, rgba(0, 0, 0, 0.3) 1px 1px;


    /* and of course a little animated background-color fade effect */

    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}

button:hover, input[type='submit']:hover{
    background-color: #832f02;
}

button, input[type="button"]{
    font-family: helvetica, arial, sans-serif;
    font-size:20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height:20px;
    height:50px;
    color:#fff;
    cursor:pointer;
    display: inline-block;
    width:auto;
    text-decoration:none !important;

    position: static;
    /* these rules for the button press effect */
    padding-top:5px;
    padding-bottom:10px;

    margin-top: 20px;
    margin-bottom:20px;

    padding-left:20px;
    padding-right:20px;

    margin-left:-1px;
    margin-right:1px;

    /* default background-color */

    background-color: #010732;

    /* the mighty gradient */

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.6)), color-stop(0.49, rgba(255, 255, 255, 0.3)), color-stop(0.51, rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.2))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* FF3.6+ */
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* Opera11.10+ */
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* W3C */


    /* some nice roundy corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    /* for links in chrome */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; 
    box-sizing: border-box; 


    /* a very subtle drop-shadow that ehances the pressed button effect */
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 0.30);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.30); 

    /* remove any inherited or default borders - especially important for the <button> element*/
    border: 0 !important;

    /* a subtle text inset effect which will also help to enhance the pressed button effect */
    text-shadow:  rgba(255, 255, 255, 0.1) -1px 0, rgba(0, 0, 0, 0.3) 1px 1px;


    /* and of course a little animated background-color fade effect */

    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}

button:hover, input[type='button']:hover{
    background-color: #832f02;
}

/* remove ugly dotted border */
:focus{
    outline:none;
}
::-moz-focus-inner{
    border:0;
}


.navigation {
    width:100%;
    background-color: black;
    position: absolute;
    display: block;
    
}
.navigation ul{
    /* positioning */
    position:relative;
    z-index:1000;
    /* remove the dots next to list items: */
    list-style:none; 
    /* get rid of any default or inherited margins and padding: */
    margin:0; 
    margin-top: -5%;
    padding:0; 

    /* styling: */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    
    
}

/* we're using the direct descendant selectors > to ONLY affect the main menu items */
.navigation > ul > li {
    /* positioning */ 
    position: relative;
    float: left;
    /* styling: */
    margin-right: 0%;
}
.navigation > ul > li > a {
    /* positioning */ 
    display:block;
    /* styling: */
    /* default background-color */

    background-color: #010732;

    /* the mighty gradient */

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.6)), color-stop(0.49, rgba(255, 255, 255, 0.3)), color-stop(0.51, rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.2))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* FF3.6+ */
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* Opera11.10+ */
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* W3C */

    padding:8px 14px;
    text-decoration:none;
    color:#eeeeee; 

}
.menupad a:hover{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.6)), color-stop(0.49, rgba(255, 255, 255, 0.3)), color-stop(0.51, rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.2))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* FF3.6+ */
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* Opera11.10+ */
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%); /* W3C */

}
.navigation > ul > li > a:hover{
    /* styling: */
    background-color:#666666; /* grey */
    color:#eeeeee; /* light grey */
}


.navigation ul ul{

    /*background-color:#e6056f; /* remove. this is for illustration purposes only */
    width:340px; /* you need a width to accommodate tertiary menus */

    position:absolute;
    z-index:100;

    height: 0;
    overflow: hidden;
}


/* don't display tertiary box yet */
.navigation > ul > li:hover ul ul, .navigation > ul > li > a:hover ul ul{
    height:0;

}
/* tertiary drop-down box */
.navigation ul ul ul{
    left:170px;
    width:170px;
}

.navigation > ul > li:hover ul, .navigation > ul > li > a:hover ul,
.navigation ul ul li:hover > ul, .navigation ul ul li a:hover > ul{
    height:520px; /* need a height to accommodate any tertiary menus */
}

/* drop-down item styles */
/* if you want different styling for tertiary menus, just copy the 4 rules below and insert an additional ul: for example: ".navigation ul ul li", becomes: ".navigation ul ul ul li" */

.navigation ul ul li{
    background-color:#eaeaea; /* grey */
    width:170px;
}

.navigation ul ul li:hover {
    background-color:#999; /* grey */
}

.navigation ul ul li a {
    display:block;
    text-decoration:none;
    margin:0 12px;
    padding:5px 0;
    color:#4c4c4c; /* grey */
}
.navigation ul ul li a:hover, .navigation ul ul li:hover > a {
    color:#ffffff; /* white */
}

.navigation ul ul ul li a{
    border:0 !important;
}
.navigation ul ul ul li + li a{
    border-top:1px dotted #999 !important;
}
.navigation ul ul li + li a{
    border-top:1px dotted #999;
}
.navigation ul ul li:hover + li a{
    border-top:1px solid #eaeaea;
}
.navigation ul ul ul li:hover + li a{
    border: 0 !important;
}
.navigation ul ul ul li:hover + li{
    border-top:1px solid #999 !important;
}

.dateSelector{
    text-align: center;
    font-size: 150%;
    padding: 10px;
    
}

.dateSelector .bordered{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    padding: 10px;
}

table{
    border-collapse: collapse;
    padding: 10px;
}

.dateSelector td, th{
    background-color: white;
    
}

.dateSelector a{
    text-decoration: none;
    text-align: center;
    font-size: larger;
}

body, table, tr, th, td{
    
}

h1{
    font-size: 20px;
    font-weight: bold;
}

div:hover .details{
    height: fit-content;
}

div .details{
    height: 0;
}

.bordered {
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
   
}

table{
    margin:  20px;
}

.bordered td{
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
}

ol.list li{
    line-height: 28px;
}